/*Estilo de la CSS de la WEB*/

body{
background-color: grey;
font-family: Arial;
}
#tabla{
    margin: 10px auto;
    width: 550px;
}

#sonic{
    margin: 10px auto;
    width: 400px;
    height: 400px;
}

#hora{
    font-size: 25px;
}
#hambre{
    font-size: 22px;
}
#felicidad{
    font-size: 22px;
}
#energia{
    font-size: 22px;
}
table{
    background-color: white;
    text-align: center;
    border-collapse: collapse;
    width: 100%;
    border: 3px solid black;
}

th{
    padding: 10px;
    border: 2px solid black;
    font-weight: bold;
    font-size: 20px;
}

td{
    padding: 10px;
    margin-top: 20px;
    border: 2px solid black;
    font-weight: bold;
    font-size: 20px;
}

thead{
background-color: #285fd4;
color: white;
border: 3px solid black;
}

tr:nth-child(event){
    background-color: #ddd;
}


#botones{text-align: center;}

#boton{
    font: bold 15px Arial;
    text-decoration: none;
    color: white;
    background-color: #3428d3;
    border: 2px solid black;
    padding: 10px 20px 10px 20px;
    border-radius: 7px;
    }
    
    
    #boton:hover{
        background:  #17116d;
    }
    #comer{
        font: bold 15px Arial;
        text-decoration: none;
        color: white;
        background-color: #d32836;
        border: 2px solid black;
        padding: 10px 20px 10px 20px;
        border-radius: 7px;
        }
        
        
        #comer:hover{
            background:  #17116d;
        }

center{
    margin-top: -100px;
}



